<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007507680953-khhsl9n0pjjjaghp5illkhiivh5e6tk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007507680953-khhsl9n0pjjjaghp5illkhiivh5e6tk4</string>
	<key>API_KEY</key>
	<string>AIzaSyCDWU9artXR7EvNmJ8GiRXg3ElR8fv5dbI</string>
	<key>GCM_SENDER_ID</key>
	<string>1007507680953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Work.Chatto</string>
	<key>PROJECT_ID</key>
	<string>chatoo-7b42a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatoo-7b42a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007507680953:ios:106d4b582a3638e54ff568</string>
	<key>DATABASE_URL</key>
	<string>https://chatoo-7b42a.firebaseio.com</string>
</dict>
</plist>